html,body, #page, .nomargin{
	margin: 0px; padding: 0px;
}

tr, td, th {
	margin: 0px; 
	padding: 0px;
}

#content{
	height: 100%;
	max-height: 100%;
	padding: 0px;
}

#map{
	width:100%;
	height: 100%;
}

.ui-btn{
	width: 80%;
}

.leaflet-control-own{
	padding: 5px;
	font-size: 14px;
	box-shadow: 0 1px 7px rgba(0,0,0,0.4);
	background: #f8f8f9;

	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.leaflet-control-message{
	display: inline-block
}

.fixedFooter {
	position: fixed !important;
	left: 0px !important;
	right: 0px !important;
	bottom: 0px !important;
	z-index: 999 !important;
}

.ui-field-contain{
	margin: 0px;
}

.marker-cluster-hazard {
	background-color: rgba(220, 80, 80, 0.6);
}
.marker-cluster-hazard div {
	background-color: rgba(200, 120, 120, 0.6);
}

.marker-cluster-poi {
	background-color: rgba(80, 220, 80, 0.6);
}
.marker-cluster-poi div {
	background-color: rgba(120, 200, 120, 0.6);
}
